/* Proprieta generali */
.flex{
    display: flex;
}
.around{
    justify-content: space-around;
}
.between{
    justify-content: space-between;
}
.p-5{
    padding-left: 5%;
    padding-right: 5%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.text-center{
    text-align: center;
}

.b-b{
    border-top: 1px solid lightseagreen;
}
h5{
    margin-block-end: 0.8em;
}

h6{
    margin-block-start: 1em;
    margin-block-end: 1em;

}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    margin-top: 5px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
